<template>
  <!-- eslint-disable-next-line -->
  <span v-if="delta > 0">
    + {{ formatDollar(delta, "—") }}
  </span>
  <span v-else-if="delta < 0">
    - {{ formatDollar(Math.abs(delta), "—") }}
  </span>
  <span v-else>
    —
  </span>
</template>

<script>
import { formatDollar } from "../utils.js";

export default {
  name: "DeltaTag",
  props: {
    delta: Number,
  },
  methods: {
    formatDollar,
  },
};
</script>
