<template>
  <footer class="mt-5 px-4 py-5 border-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <dl>
            <dt>Where do these prices come from?</dt>
            <dd>
              The North Carolina Alcoholic Beverage Control (ABC) Commission
              establishes prices for liquor in North Carolina. The prices are
              uniform across the state. The ABC Commission publishes a
              <a href="https://abc.nc.gov/Pricing/PriceList"
                >quarterly price list</a
              >
              on their website as well as a
              <a href="https://abc.nc.gov/Pricing/MonthlyReductions/3"
                >monthly discount list</a
              >. These lists provide the prices displayed on the Scotch Bonnet
              website. The Scotch Bonnet website is unaffiliated with the ABC
              Commission.
            </dd>
          </dl>
        </div>
        <div class="col-12 col-md-6">
          <dl>
            <dt>What is a Scotch bonnet?</dt>
            <dd>
              A Scotch bonnet is a species of sea snail found along the coast of
              North Carolina and south to Brazil. Its name comes from its shell,
              which tends to have a pattern resembling a Scottish tartan and a
              shape resembling a Scottish cap (or bonnet) called a tam o'
              shanter. In 1965, North Carolina adopted the Scotch bonnet as its
              official state shell, becoming the first state to adopt a state
              shell.
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style scoped lang="scss">
@import "../assets/sass/main.scss";

footer {
  border-top: solid;
  border-width: 4px;
  background-color: #fafafa;
}
</style>
