<template>
  <section class="jumbotron jumbotron-fluid bg-primary">
    <div class="container text-center">
      <img
        src="../assets/images/logo.svg"
        class="logo"
        alt="Scotch Bonnet, North Carolina liquor pricing"
      />
    </div>
  </section>
</template>

<script>
export default {
  name: "Hero",
};
</script>

<style scoped lang="scss">
.logo {
  height: 180px;
}
</style>
