<template>
  <section class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4">
        <b-form-group label="Search" label-for="input-search">
          <b-form-input
            id="input-search"
            type="text"
            debounce="250"
            placeholder=""
            v-model="searchString"
            @update="onUpdateSearchString"
          />
        </b-form-group>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <b-form-group label="Aisle" label-for="input-aisle">
          <b-form-select
            id="input-aisle"
            v-model="aisle"
            @change="onUpdateAisle"
          >
            <b-form-select-option value="">All aisles</b-form-select-option>
            <b-form-select-option
              v-for="aisle in aisles"
              :value="aisle"
              :key="aisle"
            >
              {{ aisle }}
            </b-form-select-option>
          </b-form-select>
        </b-form-group>
      </div>
      <div class="col-12 col-sm-6 col-lg-2">
        <b-form-group label="Volume" label-for="input-volume">
          <b-form-select
            id="input-volume"
            v-model="size"
            @change="onUpdateSize"
          >
            <b-form-select-option value="">All volumes</b-form-select-option>
            <b-form-select-option value="1750">1,750 mL</b-form-select-option>
            <b-form-select-option value="750">750 mL</b-form-select-option>
            <b-form-select-option value="375">375 mL</b-form-select-option>
            <b-form-select-option value="50">50 mL</b-form-select-option>
          </b-form-select>
        </b-form-group>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <b-form-group label="Recommendation" label-for="input-recommendation">
          <b-form-select
            id="input-recommendation"
            v-model="recommendation"
            @change="onUpdateRecommendation"
          >
            <b-form-select-option value="all">All</b-form-select-option>
            <b-form-select-option value="good">Good Buy</b-form-select-option>
            <b-form-select-option value="bad">Bad Buy</b-form-select-option>
          </b-form-select>
        </b-form-group>
      </div>
    </div>
    <div class="row mt-4 d-md-none">
      <div class="col-12 col-sm-6">
        <b-form-group label="Sort By" label-for="input-sort-by">
          <b-form-select
            id="input-sort-by"
            v-model="sortBy"
            @change="onUpdateSortBy"
            :options="sortOptions"
          />
        </b-form-group>
      </div>
      <div class="col-12 col-sm-6">
        <b-form-group label="Sort Direction" label-for="input-sort-dir">
          <b-form-select
            id="input-sort-dir"
            v-model="sortDescending"
            @change="onUpdateSortDescending"
          >
            <b-form-select-option :value="false"
              >Ascending</b-form-select-option
            >
            <b-form-select-option :value="true"
              >Descending</b-form-select-option
            >
          </b-form-select>
        </b-form-group>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <b-table
          id="product-table"
          :items="products"
          :fields="fields"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDescending"
          :paginated="true"
          :per-page="pageSize"
          :current-page="currentPage"
          hover
          show-empty
          stacked="md"
          @sort-changed="onUpdateTableSort"
        >
          <template #cell(size)="data">
            {{ data.value.toLocaleString() }} mL
          </template>
          <template #cell(price)="data">
            <div class="d-inline-block d-md-block">
              <PriceTag
                :productCode="data.item.code"
                :price="data.item.price"
                :nextPrice="data.item.nextPrice"
                :prevPrice="data.item.prevPrice"
                :minPrice="data.item.minPrice"
                :recommendation="data.item.recommendation"
              />
            </div>
            <div class="d-inline-block d-md-block ml-2 ml-md-0 mt-md-1">
              <PriceTrend
                :productCode="data.item.code"
                :prices="data.item.priceHistory"
                :currentMonthIndex="currentMonthIndex"
                :width="100"
                :height="20"
              />
            </div>
          </template>
          <template #cell(nextDelta)="data">
            <DeltaTag :delta="data.item.nextDelta" />
          </template>

          <template #empty>
            <div>
              No products found.
            </div>
          </template>
        </b-table>
      </div>
    </div>
    <div class="row mt-4 align-items-center">
      <div
        class="col-12 col-md-3 col-lg-2 mb-3 mb-md-0 order-3 order-md-1 text-center text-md-left"
      >
        <strong>{{ matchingProductCount.toLocaleString() }} products</strong>
      </div>
      <div
        class="col-12 col-md-3 col-lg-2 mb-3 mb-md-0 order-2 text-center text-md-left"
      >
        <b-form-select
          v-model="pageSize"
          class="w-auto"
          @change="onUpdatePageSize"
        >
          <b-form-select-option :value="20">20 per page</b-form-select-option>
          <b-form-select-option :value="50">50 per page</b-form-select-option>
          <b-form-select-option :value="100">100 per page</b-form-select-option>
        </b-form-select>
      </div>
      <div class="col-12 col-md-6 col-lg-8 mb-3 mb-md-0 order-1 order-md-3">
        <b-pagination
          v-model="currentPage"
          :total-rows="numProducts"
          :per-page="pageSize"
          aria-controls="product-table"
          class="mb-0 justify-content-center justify-content-md-end"
          @change="onUpdateCurrentPage"
        ></b-pagination>
      </div>
    </div>
    <div class="row mt-5 text-center font-italic">
      <div class="col">
        Prices were updated on {{ pricingUpdatedDisplayDate }}.
      </div>
    </div>
  </section>
</template>

<script>
import PriceTag from "./PriceTag";
import PriceTrend from "./PriceTrend";
import DeltaTag from "./DeltaTag";
import productData from "../assets/data/products.json";
import downloadTime from "../assets/data/download_time.json";
import { formatDollar, makeMonthField } from "../utils.js";

const DEFAULT_DATA = {
  searchString: "",
  aisle: "",
  size: "",
  recommendation: "all",
  sortBy: "brand",
  sortDescending: false,
  pageSize: 20,
  currentPage: 1,
};

// This will be productData filtered down to the products that are available
// this month or next. Ideally, the data prep pipeline would have applied this
// filter when creating productData in the first place, but we'll filter in the
// app just to be safe.
const availProducts = [];

export default {
  name: "PriceList",
  components: {
    PriceTag,
    PriceTrend,
    DeltaTag,
  },
  data() {
    return { ...DEFAULT_DATA };
  },
  beforeRouteEnter(to, from, next) {
    // Apply the URL querystring parameters upon an initial load, such as from a
    // bookmark or a shared URL.
    next(vm => {
      vm.restoreData(to.query);
    });
  },
  beforeRouteUpdate(to, from, next) {
    // Apply the URL querystring parameters when the querystring changes, such
    // as when using the back/forward buttons.
    this.restoreData(to.query);
    next();
  },
  methods: {
    formatDollar,
    restoreData(params) {
      if (params !== undefined) {
        for (const key of Object.keys(DEFAULT_DATA)) {
          this.$data[key] = params[key] ?? DEFAULT_DATA[key];
        }
      }
    },
    updateUrl(params) {
      let newParams = { ...this.$route.query, ...params };
      for (const key of Object.keys(params)) {
        if (params[key] === DEFAULT_DATA[key]) {
          delete newParams[key];
        }
      }
      this.$router.push({ name: "root", query: newParams });
    },
    onUpdateSearchString(value) {
      this.currentPage = 1;
      this.updateUrl({ searchString: value, currentPage: 1 });
    },
    onUpdateAisle(value) {
      this.currentPage = 1;
      this.updateUrl({ aisle: value, currentPage: 1 });
    },
    onUpdateSize(value) {
      this.currentPage = 1;
      this.updateUrl({ size: value, currentPage: 1 });
    },
    onUpdateRecommendation(value) {
      this.currentPage = 1;
      this.updateUrl({ recommendation: value, currentPage: 1 });
    },
    onUpdateSortBy(value) {
      // Stay on the current page.
      this.updateUrl({ sortBy: value });
    },
    onUpdateSortDescending(value) {
      // Stay on the current page.
      this.updateUrl({ sortDescending: value });
    },
    onUpdatePageSize(value) {
      // Stay on the current page.
      this.updateUrl({ pageSize: value });
    },
    onUpdateCurrentPage(value) {
      this.updateUrl({ currentPage: value });
    },
    onUpdateTableSort(context) {
      // Stay on the current page.
      this.updateUrl({
        sortBy: context.sortBy,
        sortDescending: context.sortDesc,
      });
    },
  },
  computed: {
    fields() {
      return [
        { key: "brand", label: "Product", sortable: true },
        { key: "aisle", label: "Aisle", sortable: true },
        { key: "proof", label: "Proof", sortable: true, class: "text-right" },
        { key: "size", label: "Volume", sortable: true, class: "text-right" },
        {
          key: "price",
          label: `${this.currentMonthNameAbbr} Price`,
          sortable: true,
          class: "text-right",
        },
        {
          key: "nextDelta",
          label: `${this.nextMonthNameAbbr} Change`,
          sortable: true,
          sortDirection: "desc",
          class: "text-right",
        },
      ];
    },
    sortOptions() {
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    products() {
      let filtered = availProducts;
      if (this.recommendation === "good") {
        filtered = filtered.filter(p => {
          return p.recommendation === "good";
        });
      } else if (this.recommendation === "bad") {
        filtered = filtered.filter(p => {
          return p.recommendation === "bad";
        });
      }
      if (this.aisle !== "") {
        filtered = filtered.filter(p => {
          return p.aisle === this.aisle;
        });
      }
      if (this.size !== "") {
        filtered = filtered.filter(p => {
          return p.size === parseInt(this.size);
        });
      }
      if (this.searchString !== "") {
        filtered = filtered.filter(p => {
          return p.brand
            .toUpperCase()
            .includes(this.searchString.toUpperCase());
        });
      }
      return filtered;
    },
    numProducts() {
      return this.products.length;
    },
    aisles() {
      let aisles = {};
      availProducts.forEach(p => {
        aisles[p.aisle] = 1;
      });
      return Object.keys(aisles).sort();
    },
    matchingProductCount() {
      return this.products.length;
    },
    currentMonth() {
      // Return a Date object representing the first day of the current month.
      //
      // We'll be adding and subtracting months, and we don't care about the
      // day, so set the day to 1. This avoids problems with some months being
      // longer than others. For example, suppose it's currently March 31. If we
      // leave the day at 31, then adding one month would move us to May 1
      // instead of April 30.

      let date = new Date();
      date.setDate(1);
      return date;
    },
    nextMonth() {
      // Return a Date object representing the first day of the next month.

      let date = new Date(this.currentMonth);
      date.setMonth(date.getMonth() + 1);
      return date;
    },
    prevMonth() {
      // Return a Date object representing the first day of the previous month.

      let date = new Date(this.currentMonth);
      date.setMonth(date.getMonth() - 1);
      return date;
    },
    currentMonthField() {
      return makeMonthField(this.currentMonth);
    },
    nextMonthField() {
      return makeMonthField(this.nextMonth);
    },
    prevMonthField() {
      return makeMonthField(this.prevMonth);
    },
    months() {
      // Return the list of months representing the range from 12 months before
      // today to 1 month after, excluding any that don't appear in our product
      // data.

      let thisDate = new Date(this.currentMonth);

      let list = [];
      for (let monthOffset = -12; monthOffset <= 1; monthOffset++) {
        let otherDate = new Date(thisDate);
        otherDate.setMonth(thisDate.getMonth() + monthOffset);
        let monthField = makeMonthField(otherDate);
        if (`price_${monthField}` in productData[0]) {
          list.push(otherDate);
        }
      }
      return list;
    },
    monthFields() {
      return this.months.map(makeMonthField);
    },
    currentMonthIndex() {
      return this.monthFields.indexOf(this.currentMonthField);
    },
    nextMonthIndex() {
      return this.monthFields.indexOf(this.nextMonthField);
    },
    prevMonthIndex() {
      return this.monthFields.indexOf(this.prevMonthField);
    },
    currentMonthNameAbbr() {
      return this.currentMonth.toLocaleDateString("default", {
        month: "short",
      });
    },
    nextMonthNameAbbr() {
      return this.nextMonth.toLocaleDateString("default", {
        month: "short",
      });
    },
    pricingUpdatedDisplayDate() {
      let date = new Date(1000 * downloadTime.timestamp);
      let formatOptions = { month: "long", day: "numeric", year: "numeric" };
      return date.toLocaleDateString("default", formatOptions);
    },
  },
  created() {
    productData
      .filter(product => {
        const availThisMonth =
          product[`price_${this.currentMonthField}`] !== null;
        const availNextMonth = product[`price_${this.nextMonthField}`] !== null;
        return availThisMonth || availNextMonth;
      })
      .forEach(product => {
        product.price = product[`price_${this.currentMonthField}`];

        product.priceHistory = this.months.map(month => {
          const field = makeMonthField(month);
          return { month: month, price: product[`price_${field}`] };
        });

        if (this.nextMonthIndex >= 0) {
          product.nextPrice = product.priceHistory[this.nextMonthIndex].price;
        } else {
          product.nextPrice = null;
        }

        if (this.prevMonthIndex >= 0) {
          product.prevPrice = product.priceHistory[this.prevMonthIndex].price;
        } else {
          product.prevPrice = null;
        }

        if (product.price === null || product.nextPrice === null) {
          product.nextDelta = null;
        } else {
          product.nextDelta = product.nextPrice - product.price;
        }

        product.minPrice = Math.min(
          ...product.priceHistory.map(h => h.price).filter(p => p !== null)
        );

        product.recommendation = "n/a";
        if (product.price !== null && product.nextPrice !== null) {
          if (product.price < product.nextPrice) {
            product.recommendation = "good";
          } else if (product.price > product.nextPrice) {
            product.recommendation = "bad";
          } else if (product.price > product.minPrice) {
            product.recommendation = "warn";
          } else {
            product.recommendation = "neutral";
          }
        } else if (product.price !== null && product.prevPrice !== null) {
          if (product.price < product.prevPrice) {
            product.recommendation = "good";
          } else if (product.price > product.minPrice) {
            product.recommendation = "warn";
          } else {
            product.recommendation = "neutral";
          }
        } else if (product.price !== null) {
          product.recommendation = "neutral";
        }

        availProducts.push(product);
      });
  },
};
</script>
