<template>
  <div>
    <span
      v-if="isGoodBuy"
      :id="`price-tag-${productCode}`"
      class="badge badge-success"
    >
      {{ formatDollar(price, "") }}
      <b-icon-check-circle-fill />
    </span>
    <span
      v-else-if="isBadBuy"
      :id="`price-tag-${productCode}`"
      class="badge badge-danger"
    >
      {{ formatDollar(price, "") }}
      <b-icon-x-octagon-fill />
    </span>
    <span
      v-else-if="isWarnBuy"
      :id="`price-tag-${productCode}`"
      class="badge badge-warning"
    >
      {{ formatDollar(price, "") }}
      <b-icon-question-circle />
    </span>
    <span
      v-else-if="isNoBuy"
      :id="`price-tag-${productCode}`"
      class="badge badge-light"
    >
      n/a
      <b-icon-dash-circle />
    </span>
    <span v-else :id="`price-tag-${productCode}`" class="badge badge-light">
      {{ formatDollar(price, "") }}
      <b-icon-dash-circle />
    </span>
    <b-tooltip
      :target="`price-tag-${productCode}`"
      placement="left"
      delay="500"
    >
      {{ tooltipLabel }}
    </b-tooltip>
  </div>
</template>

<script>
import { BIconCheckCircleFill } from "bootstrap-vue";
import { BIconDashCircle } from "bootstrap-vue";
import { BIconQuestionCircle } from "bootstrap-vue";
import { BIconXOctagonFill } from "bootstrap-vue";
import { formatDollar } from "../utils.js";

export default {
  name: "PriceTag",
  props: {
    productCode: String,
    price: Number,
    nextPrice: Number,
    prevPrice: Number,
    minPrice: Number,
    recommendation: String,
  },
  components: {
    BIconCheckCircleFill,
    BIconDashCircle,
    BIconQuestionCircle,
    BIconXOctagonFill,
  },
  methods: {
    formatDollar,
  },
  computed: {
    isGoodBuy() {
      return this.recommendation === "good";
    },
    isBadBuy() {
      return this.recommendation === "bad";
    },
    isWarnBuy() {
      return this.recommendation === "warn";
    },
    isNoBuy() {
      return this.recommendation === "n/a";
    },
    tooltipLabel() {
      if (this.isGoodBuy) {
        if (this.nextPrice === null) {
          return (
            "Good buy! Price has decreased from " +
            `${formatDollar(this.prevPrice)}` +
            " last month."
          );
        }
        return (
          "Good buy! Price will increase to " +
          `${formatDollar(this.nextPrice)}` +
          " next month."
        );
      } else if (this.isBadBuy) {
        return (
          "Bad buy! Price will decrease to " +
          `${formatDollar(this.nextPrice)}` +
          " next month."
        );
      } else if (this.isWarnBuy) {
        return (
          "Cautious buy. Price has been lower " +
          `(${formatDollar(this.minPrice)})` +
          " in the past year."
        );
      } else if (this.isNoBuy) {
        return (
          "Product isn't available this month. Price will be " +
          `${formatDollar(this.nextPrice)}` +
          " next month."
        );
      } else {
        if (this.nextPrice === null) {
          return "Neutral buy. Price hasn't been lower in the past year.";
        } else {
          return (
            "Neutral buy. Price is unchanged next month " +
            "and hasn't been lower in the past year."
          );
        }
      }
    },
  },
};
</script>

<style scoped lang="scss">
.badge {
  padding: 0.5em 0.75em;
  font-size: 1rem;
  font-weight: normal;
  transition: none;
}
.b-icon {
  margin-left: 0.5rem;
}
</style>
