<template>
  <div>
    <svg
      :viewBox="viewBox"
      :width="width"
      :height="height"
      :id="`price-trend-${productCode}`"
    >
      <polyline :points="coordsString" />
      <circle
        v-for="price in definedPricesMinusCurrent"
        :key="price.index"
        :r="radius"
        :cx="xScale(price.index)"
        :cy="yScale(price.value)"
      />
      <circle
        v-if="isCurrentPriceDefined"
        :r="currentRadius"
        :cx="currentX"
        :cy="currentY"
        class="current"
      />
    </svg>
    <b-tooltip
      :target="`price-trend-${productCode}`"
      placement="left"
      delay="500"
    >
      <table>
        <thead>
          <tr>
            <th>Month</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(price, rownum) in definedPrices"
            :key="price.index"
            :class="{ current: price.index === currentMonthIndex }"
          >
            <td>{{ monthYear(price.month, rownum) }}</td>
            <td>{{ formatDollar(price.value) }}</td>
          </tr>
        </tbody>
      </table>
    </b-tooltip>
  </div>
</template>

<script>
import { formatDollar } from "../utils.js";

export default {
  name: "PriceTrend",
  props: {
    productCode: String,
    width: Number,
    height: Number,
    prices: Array,
    currentMonthIndex: Number,
  },
  methods: {
    formatDollar,
    xScale: function(x) {
      return this.xRange[0] + x * this.xInterval;
    },
    yScale: function(price) {
      if (this.minPrice == this.maxPrice) {
        return (this.yRange[1] + this.yRange[0]) / 2;
      }
      let priceOffset =
        (price - this.minPrice) / (this.maxPrice - this.minPrice);
      let yOffset = priceOffset * (this.yRange[1] - this.yRange[0]);
      return this.yRange[1] - yOffset;
    },
    monthYear(date, index) {
      if (index === 0 || date.getMonth() === 0) {
        return date.toLocaleDateString("default", {
          month: "short",
          year: "numeric",
        });
      }
      return date.toLocaleDateString("default", { month: "short" });
    },
  },
  computed: {
    viewBox() {
      return `0 0 ${this.width} ${this.height}`;
    },
    xInterval() {
      // To compute the x-interval, first recognize that the full width of the
      // svg must accommodate all the circles, including possibly the "current"
      // circle at either end. The circle's radius will extend beyond the end of
      // the line segment. (Actually, it's probably impossible for the current
      // circle to be plotted at the beginning of the line, but we'll assume for
      // simplicity of the equations that it could be.)
      //
      // Let w be the width of the svg, n be the number of prices to plot, r be
      // radius of the largest circle to plot, and d be the interval between
      // plotted prices. Note that d is the value we want to return from this
      // function. We can therefore write the following equation:
      //
      //   w = (n-1)d + 2r
      //
      // And we will assume the following equation:
      //
      //   r = d/2
      //
      // (This must be used in currentRadius() for the math to work out.)
      // Putting these equations together and solving for d, we get:
      //
      //   d = w/n
      //
      // which is the equation implemented by this function.
      return this.width / this.prices.length;
    },
    radius() {
      return this.xInterval / 3;
    },
    currentRadius() {
      return this.xInterval / 2;
    },
    xRange() {
      return [this.currentRadius, this.width - this.currentRadius];
    },
    yRange() {
      return [this.currentRadius, this.height - this.currentRadius];
    },
    definedPrices() {
      return this.prices
        .map((p, i) => {
          return { index: i, month: p.month, value: p.price };
        })
        .filter(p => p.value !== null);
    },
    definedPricesMinusCurrent() {
      return this.definedPrices.filter(p => p.index !== this.currentMonthIndex);
    },
    isCurrentPriceDefined() {
      return this.prices[this.currentMonthIndex].price !== null;
    },
    minPrice() {
      return Math.min(...this.definedPrices.map(p => p.value));
    },
    maxPrice() {
      return Math.max(...this.definedPrices.map(p => p.value));
    },
    coords() {
      return this.definedPrices.map(p => {
        return [this.xScale(p.index), this.yScale(p.value)];
      });
    },
    coordsString() {
      return this.coords.map(c => c.join(",")).join(" ");
    },
    currentX() {
      return this.xScale(this.currentMonthIndex);
    },
    currentY() {
      return this.yScale(this.prices[this.currentMonthIndex].price);
    },
  },
};
</script>

<style scoped lang="scss">
polyline {
  stroke: #888888;
  fill: none;
  shape-rendering: geometricPrecision;
}
circle {
  fill: #888888;
}
circle.current {
  fill: #333333;
}
th,
td {
  padding: 4px;
}
tr.current td {
  background-color: #ffffff;
  color: #000000;
}
</style>
