<template>
  <div id="app">
    <Hero />
    <router-view></router-view>
    <Footer />
  </div>
</template>

<script>
import Hero from "./components/Hero";
import Footer from "./components/Footer";

export default {
  name: "App",
  components: {
    Hero,
    Footer,
  },
};
</script>

<style lang="scss">
@import "./assets/sass/main.scss";
</style>
